.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.image {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.textHolder {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 0.8em;
}

.textHolder h3 {
	color: white;
	font-size: 1rem;
}

.overlay:hover {
	animation-name: shine;
	animation-duration: 260ms;
}

@keyframes shine {
	0% {
		background: linear-gradient(
			30deg,
			rgba(0, 0, 0, 0.3) 0%,
			rgba(0, 0, 0, 0.5) 25%
		);
	}

	25% {
		background: linear-gradient(
			30deg,
			rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.3) 25%,
			rgba(0, 0, 0, 0.5) 50%
		);
	}

	50% {
		background: linear-gradient(
			30deg,
			rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.3) 50%,
			rgba(0, 0, 0, 0.5) 75%
		);
	}

	75% {
		background: linear-gradient(
			30deg,
			rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.3) 75%,
			rgba(0, 0, 0, 0.5) 100%
		);
	}

	100% {
		background: linear-gradient(
			30deg,
			rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.3) 100%
		);
	}
}
